.slider-filter{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:flex-start;
    width:20rem;
    padding:.5rem;
    position:absolute;
    top:0;
    left:35%;
    background:white;
    border-radius:4%;
    border: 1px solid #ddd;
    pointer-events: initial;
    border-color: rgb(67, 149, 237);
}

.slider-filter label  {
    margin-bottom:.5rem;
    font-weight:500;
}

.slider-filter input{
    margin-bottom:.5rem;
    width:100%;
}

.slider-filter button{
    margin-bottom:.5rem;
    width:1.5rem;
    height:1.5rem;
}

.input-range {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .2rem;
    width:100%;
}