.home-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem ;
}

.disable-home{
    height:100vh;
    overflow: hidden;
    pointer-events: none;
}

.home-page h1{
    margin-top:5rem;
    /* padding: 50%; */
}


.home-page h2{
    margin-bottom:2rem;
}

.date-sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.date-sec input{
    margin-top:.5rem;
}

.date-setting{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
    margin-bottom:1rem;
}