.search-app-filter{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:flex-start;
    width:15rem;
    padding:.5rem;
    position:absolute;
    top:0;
    left:40%;
    background:white;
    border-radius:4%;
    border: 1px solid #ddd;
    border-color: rgb(67, 149, 237);
    pointer-events: initial;
}

.search-app-filter label  {
    margin-bottom:.5rem;
}

.search-app-filter input{
    margin-bottom:.5rem;
    padding:.2rem;
    width:100%;
}

.search-app-filter button{
    margin-bottom:.5rem;
    width:1.5rem;
    height:1.5rem;
}

.btn-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}