h1{
    margin-bottom:2rem;
}

.table-sec{
    position:relative;
    width:100%;
    
}

.scroll {
    overflow-x: scroll;
}



table {
    padding:.5rem;
    border-style:solid;
    border-color: var(--secondary-background-color);
    width:100%;
    min-height:15rem;
}






th,td{
    color:rgb(77, 76, 76);
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: .5rem;
    font-weight:500;  
}

.hide{
    visibility: hidden;
}
 /* td {
    padding: .5rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
  } */